body
{
    font-family: "Arimo", "sans-serif";
    margin:0%
}

.layout
{
    display: flex;
    justify-content: flex-start;
}

.coloana-optiuni
{

    background-color:#0077B6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width:100px;
    height: 100vh;
    outline:none;

}

.buton-optiuni 
{
background-color: #0077B6;
outline:none;
border:none;
margin:10px;
padding:10px;
align-items: center;
justify-content: center;
cursor: pointer;
}

.icon
{
    display:flex;
    justify-content: center;
    height:30px;
    width:30px;
    object-fit: contain;
}

.icon-user
{
    display:flex;
    justify-content: center;
    height:40px;
    width:40px;
    object-fit: contain;
    cursor: pointer;
    border-radius:50%;
    object-fit:cover;
}

.coloana-dreapta
{
    background-color: #7eabf2;
    width:350px;
    list-style-type: none;
}




