#home_page {
    overflow: hidden;
}

#optiuni {
    margin-top: 50px;
    float: left;
    overflow: hidden;
    .butoane_optiuni {
        margin-top: 10px;
        float: left;
        clear: both;
        text-align: center;
    }
}

.persoane {
    margin-top: 10px;
    height: 1000px;
    width: 500px;
    float: left;
    margin-left: 2vh;

    #titlu_persoane {
        float: left;
    }

    input {
        float: left;
        clear: left;
    }

    .conversatie {
        display: flex;
        align-items: center;
        float: left;
        clear: both;
        img {
            width: 150px;
            border-radius: 75px;
            float: left;
            clear: left;
            margin: 10px;
        }
        p {
            float: left;
        }
    }
}
