body {
    background-color: #7eabf2;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h1 {
    display: flex;
    justify-content: left;
}

#h2 {
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
    align-items: center;
}

.register_form {
    padding: 60px;
    width: 300px;
    border-radius: 5px;
    border-width: 2px;
    font-family: "Arimo", "sans-serif";
    background-color: white;
    display: flex;
    flex-direction: column;
}

.casete {
    height: 35px;
    border: 1px solid black;
    margin-bottom: 10px;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
}

.casete:hover {
    border: 1px solid #0077ff;
}

#link {
    color: #0077ff;
}

#row {
    display: flex;
    justify-content: space-between;
}

#butondone {
    height: 35px;
    background-color: #0077ff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

#butondone:hover {
    box-shadow: 0 0 10px #0077ff;
}

#text {
    align-items: left;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 200;
}