<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="layout">
        <div class="coloana-optiuni">
            <button class="buton-optiuni"> <img src="/assets/default_user.jpg" class="icon-user"></button>
            <button class="buton-optiuni"><img class="icon" src="/assets/IconConversatii.png"></button>
            <button class="buton-optiuni"><img class="icon" src="/assets/IconPrietenii.png"></button>
            <button class="buton-optiuni"><img class="icon" src="/assets/IconSetari.png"></button>
            <form action="/logout" method="post">
                <button class="buton-optiuni" type="submit">Logout</button>
            </form>
        </div>


        <div class="coloana-dreapta">
            <ul>
                <li> <input id="search-bar" type="text" placeholder="Search Conversations"> </li>
                <li> <button class="prieten"><img src="/assets/default_user.jpg" class="icon-user"> Ionut </button>
                </li>
            </ul>

        </div>

        <div class="chat">

        </div>

    </div>



    <script src="/javascript/home.js"></script>
</body>

</html>