<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li>
                <img src="/assets/default_user.jpg" alt="Profile">
            </li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/home">Chats</a></li>
            <li><a href="/settings">Settings</a></li>
            <li>
                <form action="/logout" method="post">
                    <button id="buton-logout" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div id="main-cointainer">
    <div id="lista-casete">
        <form action="/api/search/users" method="get">
       <input class="search-bar"  th:value="${usernameSearched}" placeholder="Search Friends">
            <button type="submit">Search</button>
        </form>

        <p th:if="${#lists.isEmpty(users)}">No users found.</p>
        <ul th:if="${!#lists.isEmpty(users)}">
            <li class="chat" th:each="u : ${users}">
                <strong th:text="${u.username}">username</strong>
                <span> — </span>
                <span th:text="${u.email}">email</span>
                <button type="button" class="start-chat" th:attr="data-user-id=${u.id}">
                    Send Message
                </button>

            </li>
        </ul>
    </div>



    </div>



    <script src="/javascript/home.js"></script>
</body>

</html>