<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatmi</title>
    <link rel="icon" href="/assets/chatmi-nobackground.png">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>

    <form class="register_form" action="/register" method="post">
        <h1 id="h1">Sign up</h1>
        <h1 id="h2">Please enter your details</h1>
        <input class="casete" type="text" placeholder="Last Name">
        <input class="casete" type="text" placeholder="First Name">
        <input class="casete" type="text" placeholder="Phone Number">
        <input class="casete" type="text" name="email" id="email" placeholder="Email" required>
        <input class="casete" type="text" name="username" id="username" placeholder="Username" required>
        <input class="casete" type="password" name="password" id="password" placeholder="Password" required>
        <input class="casete" type="password" id="repeatPassword" placeholder="Repeat password" required>
        <div id="row">
            <span id="text">
                Or login <a id="link" href="/login">here</a>
            </span>
            <span>
                <button id="butondone" type="submit">Register</button>
            </span>
        </div>
        <p th:text="${regErrorBackend}" style="color: red; white-space: pre-line"></p>
        <p id="frontEndErrors" style="color: red; white-space: pre-line"></p>
    </form>

    <script src="/javascript/register.js"></script>

</body>

</html>