<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>
   
        <div class="login_form">
            <h1 id="h1">Welcome</h1>
            <h1 id="h2">Please enter your details</h1>
            <input class="casete" type="text" placeholder="Username">
            <input class="casete" type="text" placeholder="Password">
            <div id="row">
                <span id="remembertext">Remember me<button id="rememberbutton"> </button></span>
                <span><a id="signup" href="register">Sign up</a></span>
            </div>
            <button id="butonlogin">Login</button>
            
        </div>
    
</body>
</html>